<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>957150329563-7v1d7qocao526hequ3vj205nii1svq4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957150329563-7v1d7qocao526hequ3vj205nii1svq4h</string>
	<key>API_KEY</key>
	<string>AIzaSyB2rbQyInXWspQNqfThUZ-OtzMYChenXMw</string>
	<key>GCM_SENDER_ID</key>
	<string>957150329563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AJ.divide</string>
	<key>PROJECT_ID</key>
	<string>divide-f963b</string>
	<key>STORAGE_BUCKET</key>
	<string>divide-f963b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957150329563:ios:fa456c71007b3110</string>
	<key>DATABASE_URL</key>
	<string>https://divide-f963b.firebaseio.com</string>
</dict>
</plist>